UsBank/UsBank.Core/Service References/CRMService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://usbankpmo.cognizant.com/MSCRM/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankerDesktop" />
  <xs:element name="GetUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankerDesktop" minOccurs="0" name="GetUserDataResult" nillable="true" type="q1:ArrayOfuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankerDesktop" minOccurs="0" name="GetLeadDataResult" nillable="true" type="q2:ArrayOfLeadData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadDetailsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="leadname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadDetailsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BankerDesktop" minOccurs="0" name="GetLeadDetailsInfoResult" nillable="true" type="q3:LeadDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>