UsBank/UsBank.Core/Service References/CRMService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BankerDesktop" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankerDesktop" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://usbankpmo.cognizant.com/MSCRM/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="userid" type="ser:guid" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOfLeadData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeadData" nillable="true" type="tns:LeadData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeadData" nillable="true" type="tns:ArrayOfLeadData" />
  <xs:complexType name="LeadData">
    <xs:sequence>
      <xs:element minOccurs="0" name="LeadId" type="ser:guid" />
      <xs:element minOccurs="0" name="LeadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeadData" nillable="true" type="tns:LeadData" />
  <xs:complexType name="LeadDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="leadId" type="ser:guid" />
      <xs:element minOccurs="0" name="leadNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeadDetails" nillable="true" type="tns:LeadDetails" />
</xs:schema>