UsBank/UsBank.Core/Service References/CRMService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://usbankpmo.cognizant.com/MSCRM/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://usbankpmo.cognizant.com/MSCRM/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://usbankpmo.cognizant.com/MSCRM/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankerDesktop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLeadData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLeadData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLeadDetailsInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadDetailsInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLeadDetailsInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadDetailsInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserData" message="tns:IService1_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserDataResponse" message="tns:IService1_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeadData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLeadData" message="tns:IService1_GetLeadData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLeadDataResponse" message="tns:IService1_GetLeadData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeadDetailsInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLeadDetailsInfo" message="tns:IService1_GetLeadDetailsInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLeadDetailsInfoResponse" message="tns:IService1_GetLeadDetailsInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeadData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLeadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeadDetailsInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLeadDetailsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="https://usbankpmo.cognizant.com/MSCRM/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>